/* #game-canvas {
    background: rgb(233, 232, 232);
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;

} */





* {
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
}

.btn-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
