body {
  background: url("https://pressstart.vip/images/uploads/assets/cityskyline.png");
  background-size: auto;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
    background: rgba(0, 255, 34, 0.075);
    border: 2px solid rgba(77, 0, 165, 0.411);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    width: 800px;

}





/* * {
  margin: 0;
}



.btn-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} */
