
body {
  background: url("https://pressstart.vip/images/uploads/assets/cityskyline.png");
  background-size: auto;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
    background: rgba(0, 255, 34, 0.075);
    border: 2px solid rgba(137, 43, 226, 0.431);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    width: 800px;

}



footer {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  padding-top: 20px;
  justify-content: center;
  color: rgba(94, 24, 160, 0.746);
  
}



.icons {
  padding: 0 80px;
}

